{% extends "layouts/base.html" %}

{% block title %} Password reset {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Password Reset
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
            The Password has been changed!
          </h6>
          
          <br />

          <a href="{% url 'login'%}">Click here to login again.</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}