{% extends "layouts/base.html" %}

{% block title %} Password reset confirmation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}

  <div class="row">

    {% if validlink %}
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">
              Password Reset Confirmation
            </h4>
          </div>
          <div class="card-body">
            <h6 class="card-category">
              {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Please enter (and confirm) your new password
              {% endif %} 
            </h6>

            <br/>
            <form role="form" action="" method="post">
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">New Password</label>
                   
                    {% render_field form.new_password1 class="form-control" type="password" %}
                  </div>
                </div>
              </div>

              <br/>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Re-enter New Password</label>
                   
                    {% render_field form.new_password2 class="form-control" type="password" %}
                  </div>
                </div>
              </div>
              <br/>
              <button type="submit" name="login" class="btn btn-primary pull-left">Change Password</button>
            </form>
          </div>
        </div>
      </div>

    {% else %}
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Password Reset Confirmation
          </h4>
        </div>
        <div class="card-body">
          <h6 class="card-category">
            Password reset failed
          </h6>
          <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}